Package: com.maxasix.tiktokmax
Name: TikTok Max
Depends: mobilesubstrate (>= 0.9.6011), preferenceloader, firmware (>= 15.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An iOS 15 tweak for TikTok
Maintainer: maxasix
Author: maxasix
Section: Tweaks
